{% extends '@AppBundle/'~ myExtend ~'/base.html.twig' %}
{% block styles %}

{% endblock %}
{% block body %}
<div id="order-report-app">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

      <!-- Javascript -->
      <script>
         $(function() {
            $( "#datepicker1" ).datepicker({
                  dateFormat:"dd-mm-yy",
            });
   $( "#datepicker2" ).datepicker({
                  dateFormat:"dd-mm-yy",
            });

         });
      </script>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card card-default">
                <div class="card-body collapse show">
                    <h6>Item report filter</h6>
                    <hr>
                    <form method="post" action="{{ path('filter_items')}}">
                    <div class="row">
                        <div class="col-md-6">
                                <label for="">From</label>
                            <input type="text" name="fromDate" id="datepicker1"  class="form-control" autocomplete="off"  value="{{ from }}">
                        </div>
                        <div class="col-md-6">
                            <label for="">To</label>
                            <input type="text" name="toDate" id="datepicker2" class="form-control"  autocomplete="off" value="{{ to }}">
                        </div>
                    </div>
                    
                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <label for="">Items</label>
                            <select name="item" id="grocbay" class="form-control">
                                <option value="0">All</option>
                                {% for item in items%}
                                <option value="{{ item.id }}" {% if itemid == item.id %} selected {% endif %}>{{ item.itemName }} - ({{ item.variationName }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit" name="filter">Filter</button>
                       
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-actions">
                        <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>                    </div>
                    <h4 class="card-title m-b-0">Itemwise Sales Report
                    </h4>
                    <table class="table table-hovered" id="myTable">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Item Name</td>
                                <td>Quantity</td>
                                <td>Total</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% set count = 1 %}
                            {% set sales = 0 %}
                            {% for da in data %}
                            <tr>
                                <td>{{ count }}</td>
                                <td>{{ da.itemName }} - {{ da.priceVariavtion }}</td>
                                <td>{{ da.quantity }}</td>
                                <td>{% if numberFormat == 0 %}{{ da.price|round(2, 'floor')}}{% elseif numberFormat == 1 %}{{ da.price|number_format(2, '.', '') }}{% endif %}</td>
                                <td><a href="{{ path('view_item_sale',{'id':da.itemId}) }}">view</a></td>

                                    
                                </tr>
                {% set count = count + 1 %}
                {% set sales = sales + da.price %}

                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                  <b style="color:red;">  Sales : {% if numberFormat == 0 %}{{ sales|round(2, 'floor')}}{% elseif numberFormat == 1 %}{{ sales|number_format(2, '.', '') }}{% endif %}</b>
                </div>
                <div class="card-body collapse show">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}

<script>

$('#grocbay').select2({
  selectOnClose: true
});

         $('#myTable').DataTable();
         </script>

{% endblock %}