{% extends '@AppBundle/Admin/base.html.twig' %}
{% block styles %}
<link rel="stylesheet" href="/assets/plugins/iCheck/all.css">
<style>
    [type=checkbox]:checked, [type=checkbox]:not(:checked) {
         position: relative; 
         left: 0px; 
         opacity: 1; 
    }
</style>
{% endblock %}

{% block body %}
<div class="layout-px-spacing">
<div class="row layout-top-spacing">
    <div class="col-12">
        <div class="card card-outline-info">

                <div class="card-header">
                    <h4 class="m-b-0 pl-4 pt-4">Tickets</h4>
                </div>
                     <!--  <span style="margin-left:20px; font-size:15px;">
                         <a href="{{ path('all_tickets',{'status':'pending','all':'all'})}}">All</a>  |    <a href="{{ path('tickets',{'status':'list','type':'click'})}}">Click and send</a>  |  <a href="{{ path('tickets',{'status':'list','type':'record'})}}">Record and Send</a> |  <a href="{{ path('tickets',{'status':'list','type':'callback'})}}">Call Back</a>
</span> -->
                {# {{ dump(orders) }} #}
                <div class="card-body">
                    
                    <div class="mt-3 pl-3">
                                    <a href="{{ path('all_tickets',{'status':'Open'})}}">
                                    <span class="badge outline-badge-primary mb-2">Open Tickets({{opencount}})</span></a>
                                    <!--span class="badge outline-badge-primary mb-2">Picker (10)</span-->
                                    <a href="{{ path('all_tickets',{'status':'Closed'})}}">
                                    <span class="badge outline-badge-primary mb-2">Closed Tickets({{closedcount}})</span></a>
                              </div>
                    <div class="table-responsive m-t-10">
                        <table id="zero-config" class="table table-bordered table-striped">
                            <thead>
                                <tr> 
                                    <th>#</th>
                                    <th>From</th>
                                    <th>Subject</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for da in data %}
                                <tr> 
                                    <th><a href="{{ path('view_tickets',{'id':da.ref})}}">{{ da.ref }}</a></th>
                                    <th><a href="{{ path('customer_view',{'id':da.raisedBy}) }}">{{ da.username }}</th>
                                    <th><a href="{{ path('view_tickets',{'id':da.ref})}}">{{ da.subject }}</a></th>
                                    <th>{{ da.type }}</th>
                                    <th>
                                        <span class="badge badge-danger">{{ da.ticketStatus }}</span>
                                    </th>
                                    <th><a href="{{ path('view_tickets',{'id':da.ref}) }}" class="btn btn-primary btn-sm" title="Edit {{ da.subject }}"><i class="fa fa-edit"></i></a></th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}

<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/iCheck/icheck.min.js"></script>
<script src="/assets/plugins/table/datatable/datatables.js"></script>
<script>
    $(document).ready(function() {
        /*$('#myTable').DataTable({
                "order": [[ 0, 'DESC' ]]

        });*/

        $('#zero-config').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7,
            "bLengthChange": false,
        });

        //iCheck for checkbox and radio inputs
        if($('input[type="checkbox"], input[type="radio"]').length)
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
        });
</script>
{% endblock %}