{% extends "@AppBundle/Admin/base.html.twig" %}


{% block styles %}

<style>
    [type=checkbox]:checked, [type=checkbox]:not(:checked){
        position: relative;
        left: auto;
        opacity: 1;
    }
     .fstElement { font-size: 9px; }
            .fstToggleBtn { min-width: 16.5em; }

            .submitBtn { display: none; }

            .fstMultipleMode { display: block; }
            .fstMultipleMode .fstControls { width: 100%; }

</style>
{% endblock %}
{% block body %}
 <!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Promocode Update Panel
                        <a href="{{ path('manage_promocode') }}" class="btn btn-primary btn-sm pull-right">Back to the list</a>
                    </h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {% form_theme form '@AppBundle/Themes/widget.html.twig' %}
                        <div class="form-body">
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.type, "Promocode Type") }}
                                        {{ form_row(form.type,{'attr':{'class':'form-control','placeholder':''}}) }} 
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-10">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.promoCode, "Promocode") }}
                                        {{ form_row(form.promoCode,{'attr':{'class':'form-control','placeholder':'eg: APP0101'}}) }} 
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.discountType, "Discount type") }}
                                        {{ form_row(form.discountType,{'attr':{'class':'form-control','placeholder':'9918625689'}}) }} 
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.discountValue, "Discount value(Rs. / %)") }}
                                        {{ form_row(form.discountValue,{'attr':{'class':'form-control','placeholder':'(optional)'}}) }}
                                    </div>
                                </div>
                                 
                                <!--/span-->
                            </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.maxDiscountAmount, "Max Discount Value") }}
                                        {{ form_row(form.maxDiscountAmount,{'attr':{'class':'form-control','placeholder':''}}) }} 
                                    </div>
                                </div>
                                <!--/span-->
                                
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.maxDiscount, "Cashback Amount
                                    ") }}
                                        {{ form_row(form.maxDiscount,{'attr':{'class':'form-control','placeholder':'(0 for unlimited)'}}) }}
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.usageType, "Use type(Per customer)") }}
                                        {{ form_row(form.usageType,{'attr':{'class':'form-control','placeholder':'9918625689'}}) }} 
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.usageLimit, "Number of limit(Per customer)") }}
                                        {{ form_row(form.usageLimit,{'attr':{'class':'form-control','placeholder':'(optional)'}}) }}
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.minOrderAmountValidation, "Consider min. order amount") }}
                                        {{ form_row(form.minOrderAmountValidation,{'attr':{'class':'form-control','placeholder':'9918625689'}}) }} 
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.minOrderAmount, "Minimum order amount") }}
                                        {{ form_row(form.minOrderAmount,{'attr':{'class':'form-control','placeholder':'Sample Restaurant'}}) }}
                                    </div>  
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.isActive, "Promocode Active Status") }}
                                    {{ form_row(form.isActive,{'attr':{'placeholder':'Doe',"data-on-text":"Active","data-off-text":"Inactive"}}) }}
                                </div>
                            </div>
                            <!--/row-->
                            <h3>Select the timespan</h3>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.startDate, "Start date") }}
                                        {{ form_row(form.startDate,{'attr':{'class':'form-control'}}) }} 
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.endDate, "End date") }}
                                        {{ form_row(form.endDate,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <h3>Target users</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.newUsersOnly, "Apply only for new users") }}
                                        {{ form_row(form.newUsersOnly,{'attr':{'class':'form-control','placeholder':'eg: APP0101'}}) }} 
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-10">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.promocodeFor, "Apply Promocode For") }}
                                        {{ form_row(form.promocodeFor,{'attr':{'class':'form-control','placeholder':'eg: APP0101',"id":'changestatus'}}) }} 
                                    </div>
                                </div>
                            </div>
                            <div class="row menuitem" {% if promocode.promocodeFor ==  '0'  %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                                <div class="col-md-12">
                                    <div class="form-group">
                                       <label>Select item</label>
   <select class="multipleSelect" multiple id="items">
  {% for me in menuitem %}
  <option value="{{ me.id }}" {% for role in [promocode.promocodeFor] %} {% if role ==  me.id  %} selected {% endif %}{% endfor %}>{{ me.itemName }} - ( {{ me.variationName }})</option>
  {% endfor %}
    </select>
                                    </div> 
                                </div>
                            </div>
                             <div class="row category"  {% if promocode.promocodeFor ==  '1'  %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                                <div class="col-md-12">
                                    <div class="form-group">
                                       <label>Select Category</label>
   <select class="multipleSelect" id="cats" multiple >
  {% for cat in category %}
  <option value="{{ cat.id }}" {% if promocode.items == cat.id %} selected {% endif %} >{{ cat.categoryName }}</option>
  {% endfor %}
    {% for scat in subcat %}
  <option value="{{ scat.id }}" {% if promocode.items == scat.id %} selected {% endif %}>{{ scat.child }} ({{ scat.main }})</option>
  {% endfor %}
    </select>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="reset" class="btn btn-inverse">Cancel</button>
                        </div>
                    {{ form_end(form) }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    
{% endblock %}

{% block scripts %}


<script>
        $(function() {
            $( "#appbundle_promocode_startDate" ).datepicker({
                  dateFormat:"dd-mm-yy",
            });
        });
    $(function() {
            $( "#appbundle_promocode_endDate" ).datepicker({
                  dateFormat:"dd-mm-yy",
            });
        });
        $(document).ready(function() {
$('.multipleSelect').fastselect();

$('#appbundle_promocode_promocodeFor').change(function(){
var id=$('#appbundle_promocode_promocodeFor').val();
if(id=='0')
{
    $('.menuitem').show();
    $('.category').hide();
    $('#cats').attr('name', 'test');
    $('#items').attr('name', 'item[]');

}
else if(id=='1')
{
    $('.menuitem').hide();
    $('.category').show();
    $('#items').attr('name', 'test');
    $('#cats').attr('name', 'item[]');
}
else
{
    $('.menuitem').hide();
    $('.category').hide();
        $('#items').attr('name', '');
    $('#cats').attr('name', '');
}
});
            $('#appbundle_promocode_applicableRestaurant').multiselect({
                    nonSelectedText: 'Click Here',
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    buttonWidth:'100%',
                    includeSelectAllOption: true,
                    selectAllValue: 'select-all-value'
                });

            $('#appbundle_promocode_startDate').bootstrapMaterialDatePicker({ format : 'D-MM-Y', time: false, date: true });
            $('#appbundle_promocode_endDate').bootstrapMaterialDatePicker({ format : 'D-MM-Y', time: false, date: true });


            $("#appbundle_promocode_isActive").bootstrapSwitch();
        });
</script>

{% endblock %}