{% extends '@AppBundle/Admin/base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                    <div class="table-responsive m-t-10">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Mobile Number</th>
                                    <th>Email Id</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in customers %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.mobileNumber }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <a href="{{ path('customer_view',{'id':user.id}) }}" class="btn btn-primary btn-sm" title="View {{ user.username }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
</script>
{% endblock %}