{% extends "@AppBundle/Admin/base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline-info">
                <div class="card-header">
  <h4 class="m-b-0 text-white">Brands Panel                
                    </h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {% form_theme form '@AppBundle/Themes/widget.html.twig' %}
                        <div class="form-group">
                            {{ form_label(form.categoryName, "Brand Name") }}
                            {{ form_row(form.categoryName,{'attr':{'class':'form-control','placeholder':'Brand name
                            '}}) }}
                        </div>
<div class="form-group">
		 <div class="row">
                                           {#  <div class="col-md-12">
                                                <div class="form-group">
                                                  
                                                </div>
                                            </div> #}
                                           {#  #}
                                        </div>
</div>
                        <div class="form-group">
                            {{ form_label(form.categoryDescription, "Brand description") }}
                            {{ form_row(form.categoryDescription,{'attr':{'class':'form-control','placeholder':'(optional)'}}) }}
                        </div>
                        {% form_theme form '@AppBundle/Themes/file.html.twig' %}
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                {{ form_label(form.iconFile, "Brand icon") }}
                                {% set iconImage = "" %}
                                {% if category.iconImage != null %}
                                    {% set iconImage = '/uploads/sub-category/icons/'~category.iconImage %}
                                {% endif %}
                                {{ form_row(form.iconFile,{'attr':{'data-default-file':iconImage}}) }}
                            </div>
                            <div class="col-lg-6 col-md-6">
                                {{ form_label(form.bannerFile, "Brand Banner Image(Optional)") }}
                                {% set bannerImage = "" %}
                                {% if category.bannerImage != null %}
                                    {% set bannerImage = '/uploads/sub-category/banner/'~category.bannerImage %}
                                {% endif %}
                                {{ form_row(form.bannerFile,{'attr':{'data-default-file':bannerImage}}) }}
                            </div>  			
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                        {{ form_end(form) }}
                        {{ form_rest(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script>
    
        $(document).ready(function() {
            // Basic
            $('.dropify').dropify();
            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });
    
            // Used events
            var drEvent = $('#input-file-events').dropify();
    
            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });
    
            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });
    
            drEvent.on('dropify.errors', function(event, element) {
                console.log('Has Errors');
            });
    
            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function(e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
</script>

{% endblock %}
