{% extends "@AppBundle/Admin/base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    {# {{ path('category_list') }} #}
                    <h4 class="m-b-0 text-white">Main Category Update Panel
                    </h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {% form_theme form '@AppBundle/Themes/widget.html.twig' %}
                        <div class="form-group">
                            {{ form_label(form.categoryName, "Category Name") }}
                            {{ form_row(form.categoryName,{'attr':{'class':'form-control','placeholder':'category name
                            '}}) }}
                        </div>


                        <div class="form-group">
                            {{ form_label(form.categoryDescription, "Category description") }}
                            {{ form_row(form.categoryDescription,{'attr':{'class':'form-control','placeholder':'(optional)'}}) }}
                        </div>
                                <div class="row">
                                            <div class="col-md-6">
                                                {{ form_label(form.featured, "Hide from category",{
                                                'attr':{'style':'cursor:pointer'}}
                                            ) }}
                                                {{ form_row(form.featured,{'attr':{'value':'0'}}) }}
                                            </div>
                                            <div class="col-md-6">
                                        <div class="form-group">
                                             {{ form_label(form.priority, "Priority") }}
                                              {{ form_row(form.priority,{'attr':{'class':'form-control'}}) }}
                                        </div> 
                                            </div>
                                        </div>

                 
                        {% form_theme form '@AppBundle/Themes/file.html.twig' %}
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                {{ form_label(form.iconFile, "Category icon") }}
                                {% set iconImage = "" %}
                                {% if category.iconImage != null %}
                                    {% set iconImage = '/uploads/sub-category/icons/'~category.iconImage %}
                                {% endif %}
                                {{ form_row(form.iconFile,{'attr':{'data-default-file':iconImage}}) }}
                            </div>
                            <div class="col-lg-6 col-md-6">
                                {{ form_label(form.bannerFile, "Category Banner Image(Optional)") }}
                                {% set bannerImage = "" %}
                                {% if category.bannerImage != null %}
                                    {% set bannerImage = '/uploads/sub-category/banner/'~category.bannerImage %}
                                {% endif %}
                                {{ form_row(form.bannerFile,{'attr':{'data-default-file':bannerImage}}) }}
                            </div>
			
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-primary pull-right">Update Category</button>
                        {{ form_end(form) }}
                        {{ form_rest(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script src="/assets/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<script src="/assets/plugins/moment/moment.js"></script>
      
<script>     

        $(document).ready(function() {

            // Basic
            $('.dropify').dropify();
            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });
    
            // Used events
            var drEvent = $('#input-file-events').dropify();
    
            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });
    
            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });
    
            drEvent.on('dropify.errors', function(event, element) {
                console.log('Has Errors');
            });
    
            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function(e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
</script>

{% endblock %}
